<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/img/homepage/Logo.svg" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <form class="d-flex">
            <input
              class="form-control col-4"
              type="search"
              placeholder="Cari Tutor Pendamping"
              aria-label="Search"
            />
            <button class="btn btn-primary col-3" type="submit">Cari</button>
          </form>
        </li>
      </ul>
    </div>
    <form class="d-flex">
      <button class="btn btn-outline-primary me-2" type="button">Daftar</button>
      <button class="btn btn-primary me-2" type="button">Masuk</button>
    </form>
  </div>
</nav>
