body {
    font-family: "Inter", sans-serif;
    font-size: 20px;
  }
  .body-text {
    color: #848689;
  }
  .btn-primary {
    background-color: #7749f8 !important;
    border-color: #7749f8;
  }
  .btn-outline-primary {
    color: #7749f8;
    border-color: #7749f8;
  }
  .jumbotron {
    padding-top: 20vh;
    /* background-color: #8f5ef2; */
  
    background-image: url("/img/homepage/BannerHomepage.png");
    /* background-image: url("/mini_project/src/public/img/homepage/BannerHomepage.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
  }
  .jumbotron-1 {
    padding-top: 20vh;
    /* background-color: #8f5ef2; */

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
  }
  
  .jumbotron2 {
    padding-top: 20vh;
    /* background-color: #8f5ef2; */
    background-image: url("/img/homepage/Jumbotron2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
  }
  
  .jumbotron3 {
    padding-top: 20vh;
    /* background-color: #8f5ef2; */
    background-image: url("/img/homepage/Jumbotron3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
  }
  
  small {
    letter-spacing: 2px;
  }
  
  @media (min-width: 992px) {
  }
  