<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=U, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>YEAY</h1>
  </body>
</html>
