<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/img/homepage/Logo.svg" alt="" height="48px" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
            <li class="nav-item">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Cari tutor pendamping" style="opacity: 0.5" />
                <button class="btn btn-primary col-3" type="submit" >Cari</button>
              </div>
              <!-- <div class="input-group">
                <input type="search" class="form-control ms-3" placeholder="Cari tutor pendamping" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">Cari</button>
                </div>
              </div> -->
              <!-- <form class="d-flex" action="" method="POST">
                <input class="form-control col-4" type="search" placeholder="Cari Tutor Pendamping" aria-label="Search">
                <button class="btn btn-primary col-3" type="submit">Cari</button>
              </form> -->
            </li>
          </ul>
        </div>
        <form class="d-flex">
          <a href="/" class="btn btn-outline me-2" onclick="window.location.href ='/'">Daftar</a>
          <!-- <button class="btn btn-outline me-2" type="button">
            Daftar
          </button> -->
          <button class="btn btn-primary me-2" type="button" onclick="window.location.href ='/login' ">
            Masuk
          </button>
        </form>
        
      </div>
    </nav>
    <section class="jumbotron jumbotron-fluid text-center">
      <div class="container">
          <div class="text-white mb-5 w-100" >   
            <h1>Platform Terbaik <br> Pendamping Anak</h1>           
              <div class="mt-2 mb-3">
                <small>
                  Temukan tutor berpengalaman demi masa depan
                </small>
              </div>
              <div class="d-grid gap-2 col-3 mx-auto">
                <button type="button" class="btn btn-primary">
                    Cari Tutor
                </button>
              </div>  
            </div>
          </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col text-center">
            <h1>Mengapa Memilih Kami</h1>
          </div>
        </div>
        <div class="row d-flex justify-content-center mb-5 w-100">
          <div class="col text-center">
            <img src="/img/homepage/Achieve.png" alt="">
            <h5>Tutor Berpengalaman</h5>
            <h6>Temukan tutor yang bersertifikat dan ahli dibidangnya</h6>
          </div>
          <div class="col text-center">
            <img src="/img/homepage/Centang.png" alt="">
            <h5>Terverifikasi</h5>
            <h6>Profil setiap tutor akan selalu dicek oleh tim kami</h6>
          </div>
          <div class="col text-center">
            <img src="/img/homepage/Jam.png" alt="">
            <h5>Kapan saja</h5>
            <h6>Pengawasan dapat dilakukan disela kesibukan Anda</h6>
          </div>
          <div class="col text-center">
            <img src="/img/homepage/Dollar.png" alt="">
            <h5>Harga Terjangkau</h5>
            <h6>Pilih tutor sesuai dengan anggaran yang Anda inginkan</h6>
          </div>
        </div>
      </div>
    </section>

    <section class="jumbotron2 jumbotron-fluid text-start">
      <div class="container ">
        <div class="text-white w-100 ">
          <h1 >
            Dampingi anak anda <br> Sambil Bekerja
         </h1>
            <small>
              Kami menyediakan tutor terbaik sesuai 
              <br> 
              dengan permintaan anda
            </small>
        <div class="form-group m-3 text-start">
          <button type="button" class="btn btn-primary" onclick="window.location.href ='/'">
              Daftar Sekarang
          </button>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col">
            <h1 class="text-center">Apa Yang Orang Tua Katakan</h1>
          </div>
        </div>
        <div class="row d-flex justify-content-around m-5">
          <div class="col text-center">
            <img src="/img/homepage/Parman.png" alt="">
            <h3>Pak Parman</h3>
            <h4>Pengusaha</h4>
            <small style="color: #848689;">
              "Saya sangat terbantu dengan adanya platform ini dalam menemukan tutor yang memahami karakter anak saya."
            </small>
          </div>
          <div class="col text-center">
            <img src="/img/homepage/Zubaidah.png" alt="">
            <h3>Bu Zubaidah</h3>
            <h4>Penjahit</h4>
            <small style="color: #848689;">
              “Selama pandemi ini, saya menerima cukup banyak kerjaan, jadi saya minta tutor nemenin anak saya sekolah.”
            </small>
          </div>
          <div class="col text-center">
            <img src="/img/homepage/Mutia.png" alt="">
            <h3>Bu Yuli</h3>
            <h4>Pengelola Warung Tegal</h4>
            <small style="color: #848689;">
              “Sekolah online itu ribet, saya jadi bingung mau ngajarin anak saya apa jualan, untungnya ada platform ini.”
            </small>
          </div>
        </div>
      </div>
    </section>

    <section class="jumbotron3 jumbotron-fluid text-end">
      <div class="container">
          <div class="text-white mb-5 w-100" >
            <!-- <div class="text-left text-white mt-5 mb-5"> -->
              
              <h1 class="text-white w-100" >
                  Cari Pengalaman Mengajar <br> Yang Menyenangkan
              </h1>
              <small>
                  Dapatkan siswa yang sesuai dengan gaya mengajar anda
              </small>
              <div class="col-lg-12">
                <div class="form-group m-3 text-end">
                  <button type="button" class="btn btn-primary" onclick="window.location.href ='/'">
                    Daftar Sekarang
                </button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col">
            <h1 class="text-center">Apa Yang Tutor Katakan</h1>
          </div>
        </div>
        <div class="row d-flex justify-content-around m-5">
          <div class="col text-center">
            <img src="/img/homepage/Nita.png" alt="">
            <h3>Nita Anggraini</h3>
            <h4>Tutor IPA</h4>
            <small style="color: #848689;">
              “Dengan adanya platform ini, saya jadi terbantu untuk mencari orang yang mau les sama saya.”
            </small>
          </div>
          <div class="col text-center">
            <img src="/img/homepage/Ardhan.png" alt="">
            <h3>Ardhan Syam</h3>
            <h4>Tutor Komputer</h4>
            <small style="color: #848689;">
              “Saya jadi nggak nganggur lagi karena platform ini, lumayan banyak orang tua yang minta anaknya didampingi.”
            </small>
          </div>
          <div class="col text-center">
            <img src="/img/homepage/Bagas.png" alt="">
            <h3>Bagas Bagiwanata</h3>
            <h4>Tutor Matematika</h4>
            <small style="color: #848689;">
              “Dengan platform ini, saya bisa membantu meningkatkan kualitas pendidikan dengan berbagi apa yang saya tahu.”
            </small>
          </div>
        </div>
      </div>
    </section>

    <!--footer-->
    <div class="container-fluid">
      <!--about-->
      <div class="row text-light p-5" style="background-color: #42288b">
        <!--Tentang Kami-->
        <div class="col-lg-6 pb-3">
          <h5><strong>Tentang Kami</strong></h5>
          <p>Kami adalah perusahaan yang bergerakdi bidang pendidikan, dengan mengutamakan pemerataan pendidikan di masa pandemi melalui pendampingan anak sekolah dengan tutor yang sesuai.</p>
          <div class="row">
            <div class="col d-flex align-items-center">
              <a href="#" class="pe-3"><img src="/img/homepage/Facebook.svg" alt="" width="40px" /></a>

              <a href="#" class="pe-3"><img src="/img/homepage/Instagram.svg" alt="" width="40px" /></a>

              <a href="#" class="pe-3"><img src="/img/homepage/Twitter.svg" alt="" width="40px" /></a>

              <a href="#"><img src="/img/homepage/Whatsapp.svg" alt="" width="40px" /></a>
            </div>
          </div>
        </div>
        <!--Kontak-->
        <div class="col-lg-6">
          <div class="rows">
            <h5><strong>Kontak</strong></h5>
            <ul class="list-group" style="list-style-type: none">
              <li><img src="/img/homepage/Location.svg" alt="" />Jl. Dulu aja yuk No. 26 Surabaya, Indonesia</li>
              <li><img src="/img/homepage/Mail.svg" alt="" />username@domain.com</li>
              <li><img src="/img/homepage/Phone.svg" alt="" />(+62) 812 3456 7890</li>
            </ul>
          </div>
        </div>
      </div>
      <!--copyright-->
      <div class="row text-light py-3" style="background-color: #311d68; font-size: 14px">
        <div class="col-lg-12 text-center">Copyright (c) SYNRGY Academy 2021</div>
      </div>
    </div>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>