<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - Brand</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css">
</head>

<body>
    <div class="row g-0">
        <div class="col-lg-6 mx-auto" id="col2">
          <div class="row">
            <img src="img/homepage/Logo.svg" class="px-4" alt="" style="width: 150px" />
          </div>
          <form method="POST" id="register" class="px-5" action="/register" method="POST">
            <h5 class="text-center" id="headline"><strong>Buat akun mu</strong></h5>
            <p class="text-center" id="subline">Daftar terlebih dahulu sebelum masuk</p>
            <div class="mb-2 w-85">
              <label id="username">Username</label>
              <input class="form-control" type="text" name="username" placeholder="Username" required/>
            </div>
            <div class="mb-2 w-85">
              <label id="email">Email</label>
              <input class="form-control" type="email" name="email" placeholder="Email" required/>
            </div>
            <div class="mb-2 w-85">
              <label id="password">Password</label>
              <input class="form-control" type="password" name="password" placeholder="•••••" required/>
            </div>
            <div class="mb-2 w-85">
              <label id="pw1">Konfirmasi Kata Sandi</label>
              <input class="form-control" type="password" name="password_confirm" placeholder="•••••" required/>
            </div>
            <p class="text">Pilih peran anda</p>
            <div class="d-flex">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="role" id="exampleRadios1" value="ORANGTUA" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      ORANG TUA
                    </label>
              </div>
              <div class="form-check ms-4">
                <input class="form-check-input" type="radio" name="role" id="exampleRadios2" value="TUTOR">
                    <label class="form-check-label" for="exampleRadios2">
                     TUTOR
                    </label>
              </div>
            </div>
            <div class="my-3 w-85"><button class="btn btn-primary d-block w-100" type="submit"  style="background-color: rgb(178, 60, 225); border: none">Daftar</button></div>
            <p class="fs-6 fw-normal text-center" style="color: rgb(181, 178, 178)">Sudah punya akun?<a class="already" href="login.html" style="color: rgb(178, 60, 225); text-decoration: none"> Masuk</a></p>
          </form>
        </div>
        <div class="col-lg-6" style="background-image: url(&quot;img/register/Image=Register.png&quot;);"></div>
      </div>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="js/chart.min.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="js/theme.js"></script> -->
</body>

</html>