.fit-image {
    object-fit: cover;
    overflow: hidden;
  }
  
  html,
  body {
    width: 100%;
    height: auto;
    margin: 0;
  }
  
  #image {
    /* background-image: url(../img/login-regi/photo-1479292889369-1a48f234247e.jpg); */
    object-fit: cover;
  }
  
  #col2 {
    padding: 3.7%;
  }
  
  #name {
    font-size: 14px;
  }
  
  .text {
    font-size: 15px;
  }
  