<section class="jumbotron-1 jumbotron-fluid text-center">
<div class="container">
  <h2>Data Anak</h2>
  <form action="/child" method="POST">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td>Foto</td>
            <td>
              <button class="btn btn-primary" type="button">
                Tambahkan Foto
              </button>
            </td>
          </tr>
          <tr>
            <td>Nama</td>
            <td><input class="form-control" type="text" name="name" /></td>
          </tr>
          <tr>
            <td>Tanggal Lahir</td>
            <td><input class="form-control" type="date"  name="birthday"/></td>
          </tr>
          <tr>
            <td>Kelas</td>
            <td>
              <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="kelas">
                <option selected>Open this select menu</option>
                <option value="1"> 1 SMP</option>
                <option value="2">2 SMP</option>
                <option value="3">3 SMP</option>
              </select>
              
            </td>
          </tr>
          <tr>
            <td>Age</td>
            <td>
              <input class="form-control" type="text"  name="age"/>
            </td>
          </tr>
          <tr>
          <tr>
            <td>Deskripsi</td>
            <td><textarea class="form-control"type="textarea" name="deskripsi"></textarea></td>
          </tr>
          <tr>
            <td>  </td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary"> add anak</button>
    </div>
  </form>
</div>
</section>
