<div class="container">
  <h2>Penawaran Terakhir<br /></h2>
  <div class="input-group">
    <input type="search" class="form-control" /><button
      class="btn"
      type="button"
    >
      Filter
    </button>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nama Anak</th>
          <th>Mata Pelajaran</th>
          <th>Jadwal</th>
          <th>Tutor</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 2</td>
          <td>Cell 2</td>
          <td>Cell 2</td>
        </tr>
        <tr>
          <td>Cell 3</td>
          <td>Cell 4</td>
          <td>Cell 4</td>
          <td>Cell 4</td>
          <td>Cell 4</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
