<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>mini-project</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <section class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post">
                <h2 class="text-center" style="margin: 0px;"><strong>Buat akun mu</strong></h2>
                <p style="margin: 0px 0px 25px;">Daftar terlebih dahulu sebelum masuk</p>
                <div class="mb-3"><input class="form-control" type="password" name="Nama Lengkap" placeholder="Nama Lengkap"></div>
                <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                <p>Pilih peran anda</p>
                <div class="container d-lg-flex align-items-lg-start">
                    <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Orang Tua</label></div>
                    <div class="form-check" style="padding: 0px 0px 0px 40px;"><input class="form-check-input" type="radio" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Tutor</label></div>
                </div>
                <div class="mb-3"></div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Daftar</button></div><a class="already" href="#">Sudah punya akun? Masuk.</a>
            </form>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>